section{
    height: 65vh;
}

#coffee{
    background-color: rgba(243, 167, 96, 0.64);
    margin-top: 5%;
}




/****************************NAV BAR************************************/



nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 70px;
    background: #fff;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}


.toggle-nav{
    display: none;
}

.nav-mobile style{
    display: block;
}
/*********NAV BAR END**********/



#drinks{
    background-color: rgba(87, 59, 48, 1);
}

#bakery{
    background-color: rgba(191, 113, 34, 1);
}
.row{
    padding-top: 5%;
    text-align: center;
}

.coffee, .smoothies, .cake, .pasty{
    border-right-style: double;

}
footer{
    background-color: #3c3c3c;
    padding-top: 7.5vh;
    height: 15vh;
    text-align: center;
}

@media only screen and (max-width: 1024px){
   section {
       height: 75vh;
   }
}


@media only screen and (max-width: 768px){
    .small-2, .small-4, .small-6{
        width: 100%;
    }
    #coffee, #drinks{
        height: 125vh;
    }
    #bakery{
        height: 185vh;
    }
    .coffee, .smoothies, .cake, .pasty{
        border-right-style: none;
    }
    .tea, .other, .pasty, .biscuits{
        border-top-style: double;
    }
}

@media only screen and (max-width: 425px){
    .small-2, .small-4, .small-6{
        width: 100%;
    }

    #coffee{
        margin-top: 15%;
    }
    #coffee, #drinks{
        height: 110vh;
    }
    #bakery{
        height: 165vh;
    }

    .coffee, .smoothies, .cake, .pasty{
        border-right-style: none;
    }
    .tea, .other, .pasty, .biscuits{
        border-top-style: double;
    }
}



@media only screen and (max-width: 768px) {
    .nav li {
        font-size: 14px;
        float: left;
        padding-left: 0%;
        margin-left: 7%;
    }
}


@media only screen and (max-width: 640px){
    .toggle-nav{
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after{
        content: ' Menu';
    }

    .nav-mobile{
        display: none;
    }

    .style-mobile{
        background: #ffffff;
        top : 51px;
        position : absolute;
        width : 100%;
    }

    .style-mobile li{
        display: block;
        width: 100%;
    }

    .nav{
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px){
    .nav-mobile {
        display:block !important;
    }
}
/*********MEDIA QUERY END**********/

