section{
    height: 65vh;
}

#coffee{
    background-color: rgba(243, 167, 96, 0.64);
}

#drinks{
    background-color: rgba(87, 59, 48, 1);
}

#bakery{
    background-color: rgba(191, 113, 34, 1);
}
.row{
    padding-top: 5%;
    text-align: center;
}

.coffee, .smoothies, .cake, .pasty{
    border-right-style: double;

}
footer{
    background-color: #3c3c3c;
    padding-top: 7.5vh;
    height: 15vh;
    text-align: center;
}

@media only screen and (max-width: 1024px){
   section {
       height: 75vh;
   }
}


@media only screen and (max-width: 768px){
    .small-2, .small-4, .small-6{
        width: 100%;
    }
    #coffee, #drinks{
        height: 125vh;
    }
    #bakery{
        height: 185vh;
    }
    .coffee, .smoothies, .cake, .pasty{
        border-right-style: none;
    }
    .tea, .other, .pasty, .biscuits{
        border-top-style: double;
    }
}

@media only screen and (max-width: 425px){
    .small-2, .small-4, .small-6{
        width: 100%;
    }

    #coffee, #drinks{
        height: 110vh;
    }
    #bakery{
        height: 165vh;
    }

    .coffee, .smoothies, .cake, .pasty{
        border-right-style: none;
    }
    .tea, .other, .pasty, .biscuits{
        border-top-style: double;
    }
}
