extends ./base.pug
block content
	section#coffee
		nav.nav
			div.nav-center
				a.toggle-nav(href="#") &#9776;
				div.nav-mobile
					ul.left
						li
							a(href="/")
								i.fa.fa-home Home
						li
							a(href="#screen2")
								i.fa.fa-user About
						li
							a(href="/menu")
								i.fa.fa-home Menu
						li
							a(href="#screen3")
								i.fa.fa-home Contact
						li
							a(href="#")
								i.fa.fa-home Location
		
		div.row
			div.large-6.columns.coffee
				div.column.row
					h3 Coffee
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
					br
			div.large-6.columns.tea
				div.column.row
					h3 Tea
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
					br
	section#drinks
		div.row
			div.large-6.columns.smoothies
				div.column.row
					h3 Smoothies
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
					br
			div.large-6.columns.other
				div.column.row
					h3 Water &amp; Other Drinks
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
					br
	section#bakery
		div.row
			div.small-2.large-4.columns.cake
				div.column.row
					h3 Cakes
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
			div.small-4.large-4.columns.pasty
				div.column.row
					h3 Pastries
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100
			div.small-6.large-4.columns.biscuits
				div.column.row
					h3 Smoothies
				p Tea(Masala).....................Ksh.50
				p Chocolate........................Ksh.100
					br
				p Soya................................Ksh.100
					br
				p Porridge(Wimbi).............Ksh.60
					br
				p Ginger(Lemon)...............Ksh.100
					br
				p TeaPot(Kenyan)..............Ksh.100
					br
				p Green(Teapot).................Ksh.100